.no-padd{
  padding:0;
}
.main-container{
  position: relative;
  top: 116px;
  @media(min-width:768px){
    top: 56px;
  }
}
.app{
   background:#e5e5e5;
   overflow: hidden;
}

.footer{
  margin:0;
}

#mymap{
  height:calc(100vh - 50px)
}
