body{
  overflow-x: hidden;
}
.gm-style-mtc {
  display: none;
}

.selected{
  background: #f7ecd6;
}

.dropdown{
  z-index: 10;
  display: inline-block;
  margin:0 10px;
}
.page-header h4{
  margin-left:10px;
}

.dropdown li{
  padding: 10px;
  cursor: pointer;
}


img{
  max-width: 100%;
  height: auto;
}

footer{
  padding:10px;
  background: #ccc;
}

.col-sm-3{
    float:left;
}
.col-sm-8{
    float:left;
}

.hint--html .hint__content{
  text-align: left;
  &.selected{
    visibility: visible;
    opacity: 1;
  }
}


.App-logo{
  height:38px;
  display:inline;
  -webkit-animation:App-logo-spin infinite 20s linear;
  animation:App-logo-spin infinite 20s linear;
}

@-webkit-keyframes App-logo-spin{0%{-webkit-transform:rotate(0deg);
    transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);
      transform:rotate(1turn)}}@keyframes App-logo-spin{0%{-webkit-transform:rotate(0deg);
        transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);
          transform:rotate(1turn)}}

.no-padd{
  padding:0;
}
.main-container{
  position: relative;
  top: 116px;
  @media(min-width:768px){
    top: 56px;
  }
}
.app{
   background:#e5e5e5;
   overflow: hidden;
}

.footer{
  margin:0;
}

#mymap{
  height:calc(100vh - 50px)
}

.btn{
  padding-top: 0;
  padding-bottom: 0;
}
