@import "./hint.scss";

.col-sm-3{
    float:left;
}
.col-sm-8{
    float:left;
}

.hint--top{
  &:after{
    display:none;
  }
  &:before{
    display:none;
  }

  .map-marker-hint__close-button{
    display: none;
    text-decoration: underline;
    z-index: 100;
  }

  &.selected{
    .hint__content{
      text-align: left;
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(-8px);
    }

    .map-marker-hint__close-button{
      //display: block;
    }
  }
}
