.page-header{
  position: absolute;
  width:100%;
  z-index:2;
  margin:0;
  border-bottom:1px solid #CCC;
  >*{
    padding-top:10px;
  }
  .col-left{
    h4{
      display:inline-block;
    }
    .form-group{
      width:300px;
      display:inline-block;
      input{
        width:75%;
      }
    }
  }
  .logo-holder{
    display:none;
    position: absolute;
    top: 25%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, -25%);
    @media(min-width: 1220px){
      display:block;
    }
  }

  .dropdown{
    display: inline-block;
  }
}
